
body{
    background-image: url('../image/fondo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container__cv{
    width: 84vw;
    height: 100vh;
    position: absolute;
    right: 0px;
}
.cv__header{
    text-align: center;
}

/*---- Body CV---*/
.cv__body{
    background: transparent;
    display: grid;
    grid-template-columns:repeat(2, 2fr);
    gap: 10px
}

.cv__body div{
    padding: 10px;
    background: violet;
    margin: 10px;
    width: auto;
}
.box1{
    grid-column: 1/3;
}

@media(max-width: 575px){
  
}

/*--Aside--*/
.aclaracion{
    text-align: end;
    display: grid;
    grid-column: 3/4;
    margin-right: 15px;
    margin-bottom: 30px;
    background: #e6d9c3;
    color: #845a5a;
    padding: 5px;
    border-radius: 5%;
}