/*--Header movile--*/
.button__menu{
    position: absolute;
    top: 10px;
    right: 5px;
    display: none;
    z-index: 3;
}
@media(max-width: 575px){
   
    header{
        position: fixed;
        left: -178px;
        transition: left 2s;
        width: 28vw;
    }
    .header__movil{
        left: 0px;
    }
    .link{
        font-size: 4vw;
       
    }
    .button__menu{
        display: block;
        width: 8vw;
        height: 6vh;
        background: rgb(114, 115, 117);
        border: none;
        border-radius: 10%;
    }
    .button__menu:hover{
        background: rgb(72, 73, 73);
    }
    .container__cv{
        width: 100vw;
    }
    button hr{
        margin: 5px 4px;
        color: #000;
        border: 1px solid #000;
    }
 }

  